/Fahrplan_IS/Fahrplan_project/app/data/database.db
/Strecken_IS.zip
/Strecken_IS/.idea/.gitignore
/Strecken_IS/.idea/inspectionProfiles/profiles_settings.xml
/Strecken_IS/.idea/misc.xml
/Strecken_IS/.idea/modules.xml
/Strecken_IS/.idea/Strecken_IS.iml
/Strecken_IS/.idea/vcs.xml
