.btn-custom {
    display: inline-block;
    padding: 10px 20px;
    background-color: #312b2b;
    color: #aa2121;
    text-decoration: none;
    border-radius: 5px;
}

.btn-custom:hover {
    background-color: #0066cc;
}

