{% extends "base.html" %}

{% block content %}

  <div class="container" style="margin-bottom: 20px;">
    <h2 class="text-center" style="margin-bottom: 20px;" >Wartung Erstellen</h2><br>
    <div class="col-md-6 mx-auto">
        <form method="POST">
        {{ form.csrf_token }}
        <div class="form-group">
        {{ form.hidden_tag() }}

            <div>
              {{ form.wartung_nr.label (class="form-control-label")}}<br>
              {{ form.wartung_nr (class="form-control", size=32)}}
                {% for error in form.wartung_nr.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>

            <div>
              {{ form.zug_nummer.label (class="form-label")}}<br>
              {{ form.zug_nummer (class="form-control")}}
                {% for error in form.zug_nummer.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>

            <div>
                {{ form.mitarbeiter_ids.label (class="form-label") }}<br>
                {% for (id, name) in form.mitarbeiter_ids.choices %}
                    <div class="form-check">
                          <input class="form-check-input" name="{{ form.mitarbeiter_ids.name }}" type="checkbox" value="{{ id }}" id="{{ id }}">
                          <label class="form-check-label" for="{{ id }}">
                            {{ name }}
                          </label>
                    </div>
                {% endfor %}


                {% for error in form.mitarbeiter_ids.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>


            <div>
              {{ form.start_time.label (class="form-control-label")}}<br>
              {{ form.start_time (type="datetime-local", class="form-control", size=32)}}
                {% for error in form.start_time.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>

            <div>
              {{ form.end_time.label (class="form-control-label")}}<br>
              {{ form.end_time (type="datetime-local", class="form-control", size=32)}}
                {% for error in form.end_time.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div><br>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Speichern</button>
            </div>

            </div>
          </form>


        </div>
    </div>
{% endblock %}
