{% extends "base.html" %}

{% block content %}
    <h1 class="text-center" style="margin-top: 20px;" >Userübersicht</h1><br>
    <div class="container">
        <div class="scrollable">
            <table class="table table-bordered table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                    {% if current_user.is_admin %}
                        <th>Aktionen</th>
                    {% endif %}
                </tr>
            </thead>

            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{% if user.is_admin %}Admin{% else %}Mitarbeiter{% endif %}</td>
                {% if current_user.is_admin %}
                    <td>
                        <div>
                            <button class="btn btn-primary">
                                <a href="{{ url_for('updateUser', user_id=user.id) }}" style="color: white;">Bearbeiten</a>
                            </button>
                            <form action="{{ url_for('deleteUser', user_id=user.id) }}" method="post" style="display: inline;">
                                <button type="submit" class="btn-custom" onclick="return confirm('Sind Sie sicher, dass Sie diesen Benutzer löschen möchten?')">Löschen</button>
                            </form>
                        </div>
                    </td>

                {% endif %}
            </tr>
            {% endfor %}

             </table>
         </div>
        </div>


{% endblock %}