<!doctype html>
<html>
    <head>
        <title>Fahrplan Admin Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/baseStyling.css') }}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="navbar">
            <a href="/index">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            <a href="{{ url_for('mitarbeiterList') }}">Mitarbeiter</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>