{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registerMitarbeiter.css') }}">
{% endblock %}

{% block content %}
    <h1>Haltepunkte auswählen</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.haltepunkte.label }}<br>
            {{ form.haltepunkte(size=form.haltepunkte.choices|length) }}<br>
            {% for error in form.haltepunkte.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>


        <p>{{ form.submit() }}</p>
    </form>


{% endblock %}
