{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/baseTableStyling.css') }}">
{% endblock %}

{% block content %}
    <h1>Fahrplan Liste</h1>
    <div class="top-buttons">
        <a href="{{ url_for('createFahrplan') }}" class="btn">Fahrplan erstellen</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Gültig von</th>
                <th>Gültig bis</th>
                <th>Zugehöriger Halteplan</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for fahrplan in fahrplaene %}
            <tr>
                <td>{{ fahrplan.name }}</td>
                <td>{{ fahrplan.gueltig_von }}</td>
                <td>{{ fahrplan.gueltig_bis }}</td>
                <td>{{ fahrplan.halteplan.name }}</td>
                <td>
                    <!-- Delete button -->
                    <a href="{{ url_for('deleteFahrplan', id=fahrplan.id) }}" class="action-button delete">
                        &#x2715;
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
