{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/baseTableStyling.css') }}">
{% endblock %}

{% block content %}
    <h1>Halteplan List</h1>
    <div class="top-buttons">
        <a href="{{ url_for('createHalteplan') }}" class="btn">Create New Halteplan</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Strecken Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for halteplan in halteplaene %}
            <tr>
                <td>{{ halteplan.id }}</td>
                <td>{{ halteplan.name }}</td>
                <td>{{ halteplan.streckenName }}</td>
                <td>
                    <!-- Edit button -->
                    <a href="{{ url_for('editHalteplan', id=halteplan.id) }}" class="action-button">
                        &#x270E;
                    </a>
                    <!-- Delete button -->
                    <a href="{{ url_for('deleteHalteplan', id=halteplan.id) }}" class="action-button delete">
                        &#x2715;
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
