{% extends "base.html" %}

{% block title %}Preise anpassen{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registerMitarbeiter.css') }}">
{% endblock %}

{% block content %}
  <h1>Preise zu bestimmten Zeiten anpassen</h1>
  <form method="post">
    {{ form.hidden_tag() }}
    <div>
      <p>{{ form.start_time.label }} {{ form.start_time(type='time') }}
      {% for error in form.start_time.errors %}
            <span style="color: red;">[{{ error }}]</span>
      {% endfor %}</p>
      <p>{{ form.end_time.label }} {{ form.end_time(type='time') }}
      {% for error in form.end_time.errors %}
            <span style="color: red;">[{{ error }}]</span>
      {% endfor %}</p>

      <p>{{ form.price_multiplier.label }} {{ form.price_multiplier() }}
      {% for error in form.price_multiplier.errors %}
            <span style="color: red;">[{{ error }}]</span>
      {% endfor %}</p>
    </div>
    <p>{{ form.submit() }}</p>
  </form>
{% endblock %}
