{% extends "base.html" %}

{% block title %}Wochentag spezifizieren{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registerMitarbeiter.css') }}">
{% endblock %}

{% block content %}
  <h1>Wochentage und Zeiten angeben</h1>
  <form method="post">
    {{ form.hidden_tag() }}
    {{ form.time.hidden_tag() }}
    <div>
      {{ form.weekdays.label }}<br>
      {{ form.weekdays() }}<br>
        {% for error in form.weekdays.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
    </div>
    <div>
      <h2>Zeiten Spezifizieren</h2>
      <p>{{ form.time.start_time.label }} {{ form.time.start_time(type='time') }}
      {% for error in form.time.start_time.errors %}
            <span style="color: red;">[{{ error }}]</span>
      {% endfor %}</p>
      <p>{{ form.time.end_time.label }} {{ form.time.end_time(type='time') }}
      {% for error in form.time.end_time.errors %}
            <span style="color: red;">[{{ error }}]</span>
      {% endfor %}</p>

      <p>{{ form.time.interval.label }} {{ form.time.interval() }}
      {% for error in form.time.interval.errors %}
            <span style="color: red;">[{{ error }}]</span>
      {% endfor %}</p>
    </div>
    <p>{{ form.specialPrices }}</p>
    <p>{{ form.submit() }}</p>
    <p>{{ form.new() }}</p>
  </form>
{% endblock %}
