{% extends "base.html" %}

{% block content %}
<head>
    <!-- Andere Meta-Tags und Stile -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="mt-5 mb-4">Hi, {{ current_user.username }}!</h1>
            {% for post in posts %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ post.author.username }} says:</h5>
                    <p class="card-text"><b>{{ post.body }}</b></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Karte -->
    <div id="mapid" style="height: 400px; margin-top: 20px;"></div>
</div>

<script>
    var mymap = L.map('mapid').setView([47.8095, 14.0119], 8); // Zentriert die Karte auf Österreich
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
    }).addTo(mymap);

    var locations = [
        {% for bahnhof in bahnhof %}
        {name: "{{ bahnhof.name }}", coordinates: [{{ bahnhof.latitude }}, {{ bahnhof.longitude }}]},
        {% endfor %}
    ];
console.log(locations);
var latlngs = [];
for (var i = 0; i < locations.length; i++) {
    var marker = L.marker(locations[i].coordinates).addTo(mymap);
    marker.bindPopup("<b>" + locations[i].name + "</b> <br> <a class=\"nav-link\" href='orf.at'>Details</a>");
}
 var latlngs = locations.map(function(location) {
        return location.coordinates;
    });
    var polyline = L.polyline(latlngs, {color: 'green'}).addTo(mymap);

    // Popup für die Polylinie
    polyline.bindPopup("<b>Route durch Österreich!</b><br>Dies verbindet die verschiedenen Orte.").openPopup();

</script>

{% endblock %}
