{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Neue Strecke</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control", placeholder="Name") }}
            </div>
            <button type="submit" class="btn btn-primary">Speichern</button>
        </form>
    </div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Aktionen</th>
                </tr>
            </thead>
            <tbody>
                {% for strecke in strecken %}
                <tr>
                    <td>{{ strecke.name }}</td>
                    <td>
                        <form method="POST" action="{{ url_for('delete_strecke',name=strecke.name) }}">
                            <button type="submit" class="btn btn-danger">Löschen</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}