table {
    width: 100%;
    border-collapse: collapse;  /* Ensures borders between cells are shared */
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Adds a light line under each row */
}

th {
    background-color: #f4f4f9;
    color: #333;
}

tr:hover {
    background-color: #f0f0f0;  /* Highlight rows on hover */
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #990000;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #800000;
}

div[class="fahrplan-details"]{
    float: left;
    text-align: left;
    width: 100%;
}